:root {
  --primary-color-700: #2962FF;
  --primary-color-100: #E3F2FD;
  --primary-color-50: #BBDEFB
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--primary-color-100);
}
